/* loading1 */

@-webkit-keyframes cwSpin
{
	0%{-webkit-transform:rotate(0deg);	}
	100%{-webkit-transform:rotate(360deg); }
}
@-moz-keyframes cwSpin
{
	0%{-moz-transform:rotate(0deg);	}
	100%{-moz-transform:rotate(360deg); }
}
@-ms-keyframes cwSpin
{
	0%{-ms-transform:rotate(0deg);	}
	100%{-ms-transform:rotate(360deg); }
}
@-o-keyframes cwSpin
{
	0%{-o-transform:rotate(0deg);	}
	100%{-o-transform:rotate(360deg); }
}
@keyframes cwSpin
{
	0%{transform:rotate(0deg);	}
	100%{transform:rotate(360deg); }
}

@-webkit-keyframes ccwSpin
{
	0%{-webkit-transform:rotate(0deg);	}
	100%{-webkit-transform:rotate(-360deg); }
}
@-moz-keyframes ccwSpin
{
	0%{-moz-transform:rotate(0deg);	}
	100%{-moz-transform:rotate(-360deg); }
}
@-ms-keyframes ccwSpin
{
	0%{-ms-transform:rotate(0deg);	}
	100%{-ms-transform:rotate(-360deg); }
}
@-o-keyframes ccwSpin
{
	0%{-o-transform:rotate(0deg);	}
	100%{-o-transform:rotate(-360deg); }
}
@keyframes ccwSpin
{
	0%{transform:rotate(0deg);	}
	100%{transform:rotate(-360deg); }
}

/* loading2 */

@-webkit-keyframes maskMove
{
	0%{margin:0 0 0 0px;}
	100%{margin:0 0 0 350px;}
}
@-moz-keyframes maskMove
{
	0%{margin:0 0 0 0px;}
	100%{margin:0 0 0 350px;}
}
@-o-keyframes maskMove
{
	0%{margin:0 0 0 0px;}
	100%{margin:0 0 0 350px;}
}
@-ms-keyframes maskMove
{
	0%{margin:0 0 0 0px;}
	100%{margin:0 0 0 350px;}
}
@keyframes maskMove
{
	0%{margin:0 0 0 0px;}
	100%{margin:0 0 0 350px;}
}